.container{
    width: 50%;
    color: #faebd7;
    background: #d86f92;
    border-radius: 5px;
    padding: 50px;
}

h1, h2, h4 {
    color: lavender;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    /* font-size: px; */
}

.password-wrapper {
    width: 100%;
    height: 50px;
}

.password-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.password-area .password{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    position: relative;
}

.password-area .password input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: papayawhip;
    color: black;
    line-height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 0 60px 0 20px;
}

.password-area .password .copyIcon{
    position: absolute;
    right: 0;
    /* top: 50%; */
    /* width: 25%; */
    /* height: 25%; */
    padding: 12px;
    transform: translate(-2%, 2%);
    border-radius: 0 5px 5px 0;
    background: #d86f92;
    cursor: pointer;
}

.setting {
    margin: 20px 0;
}

.customize {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.customize .checkboxes {
    display: flex;
}

.left, .right {
    width: fit-content;
}

.checkbox-field {
    font-size: 12px ;
}

.customize .right {
    margin-left: 15rem;
}

.customize .checkboxes .checkbox-field {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.customize .checkboxes .checkbox-field input {
    /* width: px; */
    height: 20px;
    margin-right: 4px;
}

.customize .checkboxes .checkbox-field input:checked {
    accent-color: hotpink;
}

.customize .checkboxes .checkbox-field label {
    line-height: 20px;
}

.slider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

.slider .rangeValue {
    width: 70px;
    height: 100%;
    font-size: 14px;
    border-radius: 5px;
    background-color: lightpink;
    color: black;
    line-height: 50px;
    text-align: center;
}

.slider .range {
    width: calc(100% - 80px);
    height: 100%;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background: lightpink;
    accent-color: hotpink;
    outline: none;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .range input {
    width: 100%;
}

.buttons{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin-top: 7px;
    margin-left: 15px;
    padding: 0 25px;
    height: 50px;
    border-radius: 50px;
    font-size: 12.5px;
    background-color: #eac698;
    color: black;
    border: none;
    outline: none;
}

.buttons button:hover {
    background-color: lavender;
}

@media (min-width: 401px) and (max-width: 600px) {
    .container{
        width: 90%;
        color: #faebd7;
        background: #d86f92;
        /* border-radius: 5px; */
        /* padding: 50px; */
    }
    
    .password-area .password input{
        width: 100%;
        height: 100%;
        font-size: 12px;
        line-height: 50px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 0 60px 0 20px;
    }

    .customize .right {
        margin-left: 4rem;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .container{
        width: 80%;
        color: #faebd7;
        background: #d86f92;
        border-radius: 5px;
        padding: 50px;
    }
    
    .password-area .password input{
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 50px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 0 60px 0 20px;
    }

    .customize .right {
        margin-left: 9rem;
    }
}

@media (min-width: 801px) and (max-width: 999px) {
    .container{
        width: 80%;
        color: #faebd7;
        background: #d86f92;
        border-radius: 5px;
        padding: 50px;
    }
    
    .password-area .password input{
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 50px;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 0 60px 0 20px;
    }

    .customize .right {
        margin-left: 14rem;
    }
}